.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card {
  border-radius: 15px;
  list-style: none;
  background-color: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 20px;
}
.title {
  font-family: 'Roboto';
  color: #171f46;
}
.para {
  font-family: 'Roboto';
  color: #64748b;
}
.avatar {
  align-self: flex-end;
}
@media (max-width: 567px), (min-width: 576px), (min-width: 768px) {
  .card {
    width: 250px;
    height: 180px;
    margin: 10px;
  }
  .title {
    font-size: 18px;
  }
  .para {
    font-size: 12px;
  }
  .avatar {
    height: 40px;
    width: 40px;
  }
}
@media (min-width: 992px), (min-width: 1200px) {
  .card {
    width: 300px;
    height: 200px;
    margin: 20px;
  }
  .title {
    font-size: 15px;
  }
  .para {
    font-size: 12px;
  }
  .avatar {
    height: 50px;
    width: 50px;
  }
}
